/* Import the generated colors from pywal/theme-engine */
@import "../../.cache/wal/ags-colors.css";

window {
    background-color: transparent;
}

.Bar {
    background-color: @bg;
    color: @fg;
    padding: 4px;
    border-top: 2px solid @accent;
}

.Workspaces button {
    background-color: @hover;
    color: @fg;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 4px;
}

.Workspaces button.focused {
    background-color: @accent;
    color: @accent_fg;
}
